1. Answer with the type of test you would use (assume normal distribution):

a. Is there a difference in grades of students on the second floor compared to grades of all students?

b. Are adults who drink milk taller than adults who dont drink milk?

c. Is the the price of gas higher in texas or in new mexico?

d. Are there differences in stress levels between students who take data science vs students who take web development vs students who take cloud academy?

a. One Sample T-Test to tails

b. two Independent T-test- ote tail

c. One Sample T-Test

d. ANOVA T-test- two tails

In [9]:
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
import pandas as pd

2. Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

In [10]:
#average time it is different for its two office?
overall_sample=90
office1_sample=40
office1_mean=90 #days
office1_std=15 #days
office2_sample=50
office2_mean=100 #days
office2_std=20
alpha=0.05

In [23]:
office1=stats.norm(office1_mean,office1_std).rvs(40)
office2=stats.norm(office2_mean,office2_std).rvs(50)

t,p=stats.ttest_ind(office1,office2, equal_var=False)
t,p

(-3.060324174214889, 0.003013987540025694)

In [28]:
if p<alpha:
    print('we reject null hypothesis')
else:
    print('we fail to reject null hypothesis')

we reject null hypothesis

3. Load the mpg dataset and use it to answer the following questions:

a. Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

b. Are compact cars more fuel-efficient than the average car?

c. Do manual cars get better gas mileage than automatic cars?

##Two tails two sample

In [30]:

from pydataset import data
mpg=data('mpg')
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [29]:
mpg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 21.9+ KB

In [31]:
mpg.year.value_counts()

1999    117
2008    117
Name: year, dtype: int64

In [45]:
cars_1999=mpg[mpg.year==1999]
cars_2008=mpg[mpg.year==2008]
alpha=0.05
overall_mean=mpg.fuel_efficiency.mean()

In [39]:
cars_1999.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
6,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact
8,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact

In [44]:
cars_2008.head()

NameError: name 'cars_2008' is not defined

In [79]:
mpg['fuel_efficiency']= stats.hmean(mpg[['cty', 'hwy']], axis =1)
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,car_class,fuel_efficiency,is_automatic
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,22.212766,True
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,24.360000,False
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,24.313725,False
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,24.705882,True
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,19.809524,True

In [80]:
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,car_class,fuel_efficiency,is_automatic
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,22.212766,True
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,24.360000,False
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,24.313725,False
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,24.705882,True
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,19.809524,True

In [86]:
cars_1999_fuel=cars_1999.fuel_efficiency

In [84]:
cars_2008_fuel=cars_2008.fuel_efficiency

In [83]:
stats.levene(cars_2008_fuel,cars_1999_fuel)

LeveneResult(statistic=1.4009468916551275, pvalue=0.23777644506256929)

In [82]:
t,p=t, p = stats.ttest_ind(cars_2008_fuel,cars_1999_fuel)
t, p

(1.743145907011392, 0.08263295590337695)

In [81]:
if p<alpha:
    print('reject the null hypothesis')
else:
    print('fail to reject the null hypothesis')

fail to reject the null hypothesis

In [87]:
#3a.
t, p = stats.ttest_1samp(cars_2008_fuel,overall_mean)
t,p

(1.3708623916534752, 0.17306443582344214)

In [88]:
if p<alpha:
    print('reject the null hypothesis')
else:
    print('fail to reject the null hypothesis')

fail to reject the null hypothesis

In [89]:
# 3b. one sample, one tail
mpg=mpg.rename(columns={'class':'car_class'})
mpg[mpg.car_class=='compact'].fuel_efficiency

1      22.212766
2      24.360000
3      24.313725
4      24.705882
5      19.809524
6      21.272727
7      21.600000
8      21.272727
9      19.512195
10     23.333333
11     22.304348
12     18.750000
13     20.238095
14     20.238095
15     18.750000
142    24.360000
143    22.304348
170    22.222222
171    22.978723
172    21.590909
173    22.978723
187    23.625000
188    24.360000
189    25.038462
190    25.735849
191    21.272727
192    21.272727
193    21.600000
194    26.666667
195    27.789474
196    29.836066
197    31.876923
198    29.836066
208    24.360000
209    21.955556
210    24.360000
211    25.019608
212    19.902439
213    37.714286
214    24.360000
215    21.955556
216    25.019608
217    24.360000
218    24.360000
219    24.360000
220    18.871795
221    19.902439
Name: fuel_efficiency, dtype: float64

In [90]:
t, p =stats.ttest_1samp(mpg[mpg.car_class=='compact'].fuel_efficiency,overall_mean)
t,p/2

(18.39339346983293, 3.8833214387380183e-23)

In [91]:
#3.b 
if ((p/2)<alpha) and (t>0):
    print('reject the null hypothesis')
else:
    print('fail to reject the null hypothesis')

reject the null hypothesis

In [92]:
#3c two sample, one tail
mpg['is_automatic']=mpg.trans.str.contains('auto')
mpg.is_automatic.value_counts()

True     157
False     77
Name: is_automatic, dtype: int64

In [93]:
automatic_fuel=mpg[mpg.is_automatic==True].fuel_efficiency
automatic_fuel.head()

1    22.212766
4    24.705882
5    19.809524
7    21.600000
9    19.512195
Name: fuel_efficiency, dtype: float64

In [94]:
manual_fuel=mpg[mpg.is_automatic==False].fuel_efficiency
manual_fuel.head()

2     24.360000
3     24.313725
6     21.272727
8     21.272727
10    23.333333
Name: fuel_efficiency, dtype: float64

In [95]:
#3b
#there is a difference
t,p=stats.ttest_ind(automatic_fuel,manual_fuel)
t,p

(-4.652577547151351, 5.510464610044005e-06)

In [96]:
automatic_fuel.var()

20.428279095002054

In [97]:
manual_fuel.var()

25.665633639828275

In [98]:
manual_fuel.var()-automatic_fuel.var()>alpha

True