1. A bank found that the average number of cars waiting during the noon hour at a drive-up window follows a Poisson distribution with a mean of 2 cars. Make a chart of this distribution and answer these questions concerning the probability of cars waiting at the drive-up window.

a. What is the probability that no cars drive up in the noon hour?

b. What is the probability that 3 or more cars come through the drive through?

c. How likely is it that the drive through gets at least 1 car?

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

In [9]:
mean=2
lamb=12

In [10]:
bank_cars=stats.poisson(mean,lamb)
bank_cars

In [11]:
bank_cars.pmf(0)

0.0

In [12]:
bank_cars.sf(2)

1.0

In [14]:
bank_cars.pmf(1)

0.0

2. Grades of State University graduates are normally distributed with a mean of 3.0 and a standard deviation of .3. Calculate the following:

a. What grade point average is required to be in the top 5% of the graduating class?

b. What GPA constitutes the bottom 15% of the class?

c. An eccentric alumnus left scholarship money for students in the third decile from the bottom of their class. Determine the range of the third decile. Would a student with a 2.8 grade point average qualify for this scholarship?

d. If I have a GPA of 3.5, what percentile am I in?

In [17]:
mean=3.0
std=.3
grads_grades=stats.norm(mean,std)
grads_grades

In [30]:
#a
grads_grades.isf(.4)*10

30.7600413094074

In [29]:
#b
grads_grades.ppf(1/15)*10

25.496742161867925

In [35]:
#c
grads_grades.cdf(.43)

5.326183780254698e-18

In [39]:
grads_grades.ppf(.53)

3.022580958629949

In [41]:
grads_grades.pdf(3.5)*10

3.315904626424956

3. A marketing website has an average click-through rate of 2%. One day they observe 4326 visitors and 97 click-throughs. How likely is it that this many people or more click through?

In [54]:
mean=.02
visitors= 4326

In [55]:
website=stats.binom(visitors,mean)

In [57]:
website.sf(96)*100

13.975823631416445

4. You are working on some statistics homework consisting of 100 questions where all of the answers are a probability rounded to the hundreths place. Looking to save time, you put down random probabilities as the answer to each question.
What is the probability that at least one of your first 60 answers is correct?

In [59]:
first_sixty=60
probability= .01

In [62]:
questions=stats.binom(first_sixty,probability)

In [65]:
questions.sf(0)*100

45.28433576092385

5. The codeup staff tends to get upset when the student break area is not cleaned up. Suppose that there's a 3% chance that any one student cleans the break area when they visit it, and, on any given day, about 90% of the 3 active cohorts of 22 students visit the break area. How likely is it that the break area gets cleaned up each day? How likely is it that it goes two days without getting cleaned up? All week?

In [83]:
chance=.03
3*22
students=round(.9*66)

In [84]:
cleaning_chances=stats.binom(students,chance)

In [85]:
cleaning_chances.sf(0)*100

83.42199288437352

In [91]:
cleaning_chances.cdf(2)*100-100

-26.039429833919385

In [90]:
cleaning_chances.cdf(0)*100-100

-83.42199288437351

6. You want to get lunch at La Panaderia, but notice that the line is usually very long at lunchtime. After several weeks of careful observation, you notice that the average number of people in line when your lunch break starts is normally distributed with a mean of 15 and standard deviation of 3. If it takes 2 minutes for each person to order, and 10 minutes from ordering to getting your food, what is the likelihood that you have at least 15 minutes left to eat your food before you have to go back to class? Assume you have one hour for lunch, and ignore travel time to and from La Panaderia.

In [105]:
mean=15*2
std=3*2
per_person_order=2
cook_serve_time=10
time_left_eat=15
lunch_time=60

In [98]:
wait = (lunch_time - time_left_eat) - per_person_order - cook_serve_time
wait

33

In [108]:
line=stats.norm(mean,std)

In [110]:
line.cdf(wait)*100

69.14624612740131

7. Connect to the employees database and find the average salary of current employees, along with the standard deviation. For the following questions, calculate the answer based on modeling the employees salaries with a normal distribution defined by the calculated mean and standard deviation then compare this answer to the actual values present in the salaries dataset.

a. What percent of employees earn less than 60,000?

b. What percent of employees earn more than 95,000?

c. What percent of employees earn between 65,000 and 80,000?

d. What do the top 5% of employees make?

In [7]:
import env

In [15]:
url=get_db_url('employees')

In [18]:
df=pd.read_sql('''SELECT * FROM employees.salaries
where to_date > curdate()
''',url)
df

        emp_no  salary   from_date     to_date
0        10001   88958  2002-06-22  9999-01-01
1        10002   72527  2001-08-02  9999-01-01
2        10003   43311  2001-12-01  9999-01-01
3        10004   74057  2001-11-27  9999-01-01
4        10005   94692  2001-09-09  9999-01-01
...        ...     ...         ...         ...
240119  499995   52868  2002-06-01  9999-01-01
240120  499996   69501  2002-05-12  9999-01-01
240121  499997   83441  2001-08-26  9999-01-01
240122  499998   55003  2001-12-25  9999-01-01
240123  499999   77303  2001-11-29  9999-01-01

[240124 rows x 4 columns]

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240124 entries, 0 to 240123
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   emp_no     240124 non-null  int64
 1   salary     240124 non-null  int64
 2   from_date  240124 non-null  object
 3   to_date    240124 non-null  object
dtypes: int64(2), object(2)
memory usage: 7.3+ MB

In [25]:
mean=df.salary.mean()
std=df.salary.std()
mean, std

(72012.23585730705, 17309.99538025198)

In [28]:
#a. What percent of employees earn less than 60,000?

salary_stats=stats.norm(mean,std)
salary_stats.cdf(60_000)*100

24.38574248021442

In [30]:
#b. What percent of employees earn more than 95,000?
salary_stats.sf(94_000)*100

10.20004446915252

In [34]:
#c. What percent of employees earn between 65,000 and 80,000?
salary_stats.cdf([65_000,95_000])*100

array([34.2702922, 90.7911808])

In [35]:
#d. What do the top 5% of employees make?
salary_stats.isf(0.05)

100484.64454102777