In [1]:

import numpy as np
import pandas as pd

np.random.seed(123)

##How likely is it that you roll doubles when rolling two dice?

In [34]:
n_simulations = 100_000  # number of rolls to simulate
n_trials = 0  # number of times doubles occur

for i in range(n_simulations):
    roll1 = np.random.randint(1, 6)  # roll first die
    roll2 = np.random.randint(1, 6)  # roll second die
    if roll1 == roll2:
        num_doubles += 1

prob_doubles = num_doubles / num_rolls*100
print(f"Probability of rolling doubles: {prob_doubles}")

Probability of rolling doubles: 60.256

In [40]:
dice=[1,2,3,4,5,5,6]
n_trials=2
n_simulations=100_000

In [41]:
rolling_dice=np.random.choice((dice),(n_simulations,n_trials))
rolling_dice

array([[3, 3],
       [2, 1],
       [1, 5],
       ...,
       [3, 5],
       [3, 3],
       [5, 4]])

In [42]:
dice_df=pd.DataFrame(rolling_dice)
dice_df

       0  1
0      3  3
1      2  1
2      1  5
3      2  5
4      5  1
...   .. ..
99995  6  6
99996  1  5
99997  3  5
99998  3  3
99999  5  4

[100000 rows x 2 columns]

In [43]:
dice_df[0]==dice_df[1]

0         True
1        False
2        False
3        False
4        False
         ...
99995     True
99996    False
99997    False
99998     True
99999    False
Length: 100000, dtype: bool

In [45]:
(dice_df[0]==dice_df[1]).mean()*100

18.395